* {
    margin: 0;
    padding: 0;
}
.container .background {
    /* background-image: url('weather.png'); */
    background-repeat: no-repeat;
    min-width: 100%;
    color: black;
    margin: 0px 0px !important;
    padding: 0px 0px;
}
